body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    gap: 25px;
    /* justify-content: space-around; */
    text-align: center;
    justify-content: center;
}

li, a {
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    color: cadetblue;
    font-weight: 600;
}
